
// Body
$body-bg: #e8e8e8;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$font-family-sans-serif: "Hind", sans-serif;
$font-family-serif: "Crimson Text", serif;
$font-size-base: 14px;
$line-height-base: 1.6;

// Colors
$logo-color: #444;
$text-color: #111;
$mainnav-default-color: lighten($text-color, 55);
$mainnav-hover-color: lighten($text-color, 15);
$mainnav-current-color: #000;
$showcase-item-bg-default-color: lighten($body-bg, 7);
$showcase-item-bg-hover-color: lighten($body-bg, 5);
$subtitle-color: lighten($text-color, 50);
$tag-bg-color: darken($body-bg, 2);

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
